<div class="site-wrapper" id="top_page">
  <div class="site-wrapper-inner">
	<div class="cover-container">
	  <div class="inner cover">
        <h1 class="cover-heading"><storng>ACDI</strong>はトレーニングを教わりたい人とトレーニングを教えたい人同士のマッチングプラットフォームです</h1>
        <h2 class="cover-heading">このサービスは指導側をパーソナルトレーナーに限定しないことにより、
        <br>
        パーソナルトレーニングが高くて指導を受けられない人が
        <br>
        パーソナルトレーナーではないけれども筋トレが好きな方に指導してもらう事が可能です。</h2>
        <h2>このサービスの最終的な目標は、誰もが指導者になれることでパーソナル指導の供給が増えることにより、
        <br>
        パーソナルトレーニングが安くなることで誰もが簡単にフィットネスに参入でき、日本のフィットネス人口を増やすことです。</h2>
	  </div>
	</div>
  </div>
</div>