<div class ="jumbotron jumbotron-fluid">
  <div class="top_container">
      <h1 class="cover-heading">ACDIはトレーニングを教わりたい人と</h1>
      <h1 class="cover-heading">トレーニングを教えたい人同士の</h1>
      <h1 class="cover-heading">マッチングプラットフォームです。</h1>
      <h2>
        このサービスは指導側をパーソナルトレーナーに限定しないことにより、
      <br>
        パーソナルトレーニングが高くて指導を受けられない人が
      <br>
        パーソナルトレーナーではないけれども筋トレが好きな方に指導してもらう事が可能です。
      <br>
        このサービスの最終的な目標は、誰もが指導者になれることでパーソナル指導の供給が増えることにより、
      <br>
        パーソナルトレーニングが安くなることで誰もが簡単にフィットネスに参入でき、日本のフィットネス人口を増やすことです。
      </h2>
  </div>
</div>