<% @posts.each do |post| %>
    <p>
      <strong>name:</strong>
      <%= post.user.name %>
    </p>
    <p>
      <storng>アイコン:</strong>
      <%= image_tag post.user.image.url,class: "small-img" %></p>
    </P>
    <p>
      <strong>title:</strong>
      <%= post.title %>
    </p>
    <P>
    <%= link_to 'show',post_path(post.id)%>
    </P>
  <% end %>